$base-color: #C25050;
$base-shade-color: #973232;
$font-color: #F0E7D9;
$secondary-color: #181F33;
// $bg-color:#0C0C17;
// $todo-color: #27304b;

:root {
    --bg-color:#c56424;
    --todo-color: #27304b;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;

}

audio {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: $font-color;
    background-color: $bg-color;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.btn {
    padding: 1rem 2rem;
    color: $font-color;
    border: none;
    background: none;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color .3s;
}

.clock {
    position: relative;
    height: 30rem;
    width: 30rem;
    &-circle {
        position: relative;
        height: 30rem;
        width: 30rem;
        border: 5px solid $base-color;
        border-radius: 50%;
        overflow: hidden;
        
        &-slime {
            
                position: absolute;
                height: 100%;
                width: 100%;
                bottom: -100%;
                background: linear-gradient(90deg, rgba(122,47,47,1) 0%, rgba(151,50,50,1) 62%, rgb(158, 43, 43) 100%);
                opacity: .5;
                border-radius: 45%;
                animation: fill ease-in-out forwards;
        }
}

    &-line {
        position: absolute;
        background-color: $base-color;
        height: 5px;
        // width: 15vw;
        width: 14rem;
        top: 50%;
        left: 50%;
        border-radius: 50px;
    }
    &-timebox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX()
    }

    &-time, &-activision {
        font-size: 3.4rem;
        transform: translateY(-100%);
    }
    &-activision {
        font-size: 2rem;
        transform: translateY(-130%);
    }

    &-buttons {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(21rem);

        button {
            &.active {
                background-color: $base-color;
                color: $bg-color;
                border-radius: 8px;
            }
        }
    }
}

// SETTINGS
.settings {
    position: absolute;
    height: 35rem;
    width: 25rem;
    top: 8rem;
    right: 2rem;
    padding: 2rem;
    border-radius: 8px;
    // background-color: $secondary-color;
    background-color: var(--bg-color);
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform .3s ease-in-out;
    z-index: 100;
    
    &.active-modal {
        transform: scaleY(1);
        
        li {
            .settings-setting {                
                font-size: 1.8rem;

                &::before {
                    font-size: 1rem;
                }
            }
        }
    }

    &::before {
        content:'';
        position: absolute;
        width: 0;
        height: 0;
        top: -2rem;
        right: 0;
        border-left: 1.5rem solid transparent;
        border-right: 1.5rem solid transparent;
        border-bottom: 3rem solid $secondary-color;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85%;
        list-style: none;

        li {
            display: flex;
            justify-content: space-between;
            
            input {
                width: auto;
                background:none;
                width: 45%;
                border: none;
                color: $font-color;
            }
        }

    }
    .btn-save {
        left: 50%;
        font-weight: bold;
        font-size: 1.8rem;
        width: 100%;
        transition: color .3s;
        &:hover {
            color:$base-color
        }
    }

    &-setting {
        font-size: 1.8rem;
    }

    &-setting-time {
        position: relative;        
        &::before {
            content:'(minutes)';
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1rem;
        }
    }

    input {
        font-size: 2rem;
        font-weight: bold;
    }

    input[type=radio] {
        border: none;
        width: 100%;
        height: 1.5rem;
    }

    &-value {
        text-align: center;
    }
}

.btn-settings {
    position: absolute;
    padding: 1rem;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;

    .fas {
        color: $font-color;
        font-size: 3rem;
    }
}

// TODO SECTION
.todo {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 500px;
        bottom: 0;
        left: 0;
        transform: translateY(470px);
        background-color: $secondary-color;
        transition: transform .3s;

        &.active-todo {
            transform: translateY(0)
        }

    .fas {
        font-size: 3rem;
        color:$font-color;
        cursor: pointer;
    }

    .btn-todo {
        background: none;
        border: none;
        z-index: 1000;
    }

    &-items {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: space-between;
        position: relative;
        list-style: none;
        padding: 2rem 3rem;
        height: 100%;
        width: 100%;

        &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 100%;
            // background-color: $font-color;
            background-color: $todo-color;
            border-radius: 50px;
            left: 2rem;
            top: 0;
        }

        .todo-item {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;
            font-size: 1.2rem;

            .btn-delete {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3rem;
                height: 3rem;
                width: 3rem;
            }

            &::before {
                content:'';
                position: absolute;
                width: 100%;
                left: -1rem;
                top: 100%;
                height: 2px;
                // background-color: $font-color;
                background-color: $todo-color;
            }
        }
    }

    &-headerbox {
        display: flex;
        justify-content: center;
        align-items: center;


        .todo-header {
            margin: 2rem ;
            font-weight: bold;
            font-size: 2.4rem;
        }

        .btn-add {
            font-size: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            padding: 0;
            background-color: $font-color;
            color: $secondary-color;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    &-input {
        padding: 0.8rem 1rem;
        margin: 0 1rem;
        background-color: $bg-color;
        color: $font-color;
        border: none;
        border-radius: 8px;
    }

}


// ANIMATIONS
@keyframes fill{
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(-99%) rotate(5500deg);
    }
}


// MEDIA 768px
@media (min-width: 768px) {
    .clock {
        &-line {
            width: 35rem;
        }

        &-timebox {
            transform: translateX(23%);
        }

        &-time {
            font-size: 5rem;
        }
        &-activision {
            font-size: 3rem;
            transform: translateY(-140%);

        }
    }
}
